*{
    box-sizing: 1px;
    margin: 0px auto;
    padding: 0px auto;

}
.Nav{
	height: 80px;
	width: 100%;
	background-image: linear-gradient(to right, mediumblue, dodgerblue);

}
.Heading{
	border: none;
	width: 100%;
	background-image: linear-gradient(to right, mediumblue, dodgerblue);
	margin-left: 0px;
	position: sticky;
	top: 0;
	position: fixed;
	z-index: 1;
	height: 68px;


}
#logo{
	height: 40px;
	width: 240px;
	margin-top: 19px;
	margin-left: 30px;

}
.Nav ul{
	list-style-type: none;
	float: right;
	position: absolute;
	right: 5%;
	top: 28px;
	font-size: 120%;
	font-family: sans-serif;
	color: white;

}
ul li{
	display: inline;
	padding-left: 15px;
	padding: 10px;
	cursor: pointer;
	
}
ul li a{
	text-decoration: none;
	color: white;

}
ul li:hover{
	background-color: darkblue;
	padding: 10px;
	border-radius: 10px;


}
.stay{
	border: none;
	background-color: darkblue;
	border-radius: 10px;
	padding: 10px;

}
.lists{
	border: 1px solid white;
	height: 340px;
	width: 300px;
	margin-left: 600px;
   display: none;
   visibility: hidden;
 

}

.About{
	border: none;
	background-color: whitesmoke;
	height: 255px;
	width: 100%;
	margin-left: 0px;
	margin-top: -35px;
	
	
	
}
#heading{
	padding-left: 35px;
	
}
#line{

	width: 30px;
	margin-left: 35px;
	height: 2px;
	background-color: gray;
	margin-top: 16px;
}
#Aboutcolony{
	margin-top: 20px;
	padding-left: 35px;
	font-family: sans-serif;
	font-size: 18px;
	color: black;
}
#facebook{
	height: 200px;
	width: 150px;
	margin-left: 350px;
	margin-top: 80px;


}
#instagram{
	height: 200px;
	width: 150px;
	margin-left: 100px;
	margin-top: 80px;
	position: absolute;

}
.client{
	border: none;
	background-color: silver;
	height: 350px;
	width: 100%;
	margin-top: 50px;

}
h2{
	padding-left: 35px;
	margin-top: 30px;


}
#sec-line{

	width: 30px;
	margin-left: 35px;
	height: 2px;
	background-color: gray;
	margin-top: 16px;
}
#pic1{
	border: 1px solid black;
	height: 50px;
	width: 50px;
	margin-left: 150px;
	border-radius: 10px;
	margin-top: 20px;
	background-color: gray;

}
#pic2{
	border: 1px solid black;
	height: 50px;
	width: 50px;
	margin-left: 150px;
	border-radius: 10px;
	margin-top: 20px;
	background-color: gray;


}
#pic3{
	border: 1px solid black;
	height: 50px;
	width: 50px;
	margin-left: 150px;
	border-radius: 10px;
	margin-top: 20px;
	background-color: gray;


}

#pic4{
	border: 1px solid black;
	height: 50px;
	width: 50px;
	margin-left: 250px;
	border-radius: 10px;
	margin-top: -198px;
	background-color: gray;


}
#pic5{
	border: 1px solid black;
	height: 50px;
	width: 50px;
	margin-left: 250px;
	border-radius: 10px;
	margin-top: 20px;
	background-color: gray;


}
#pic6{
	border: 1px solid black;
	height: 50px;
	width: 50px;
	margin-left: 250px;
	border-radius: 10px;
	margin-top: 20px;
	background-color: gray;


}
#pic7{
	border: 1px solid black;
	height: 50px;
	width: 50px;
	margin-left: 345px;
	border-radius: 10px;
	margin-top: -198px;
	background-color: gray;


}
#pic8{
	border: 1px solid black;
	height: 50px;
	width: 50px;
	margin-left: 345px;
	border-radius: 10px;
	margin-top: 20px;
	background-color: gray;


}
#pic9{
	border: 1px solid black;
	height: 50px;
	width: 50px;
	margin-left: 345px;
	border-radius: 10px;
	margin-top: 20px;
	background-color: gray;


}
#pic10{
	border: 1px solid black;
	height: 50px;
	width: 50px;
	margin-left: 440px;
	border-radius: 10px;
	margin-top: -198px;
	background-color: gray;


}
#pic11{
	border: 1px solid black;
	height: 50px;
	width: 50px;
	margin-left: 445px;
	border-radius: 10px;
	margin-top: 20px;
	background-color: gray;
}


#pic12{
	border: 1px solid black;
	height: 50px;
	width: 50px;
	margin-left: 445px;
	border-radius: 10px;
	margin-top: 20px;
	background-color: gray;


}
.footer{
	height: 220px;
	width: 100%;
	background-image: linear-gradient(to right, dodgerblue, mediumblue);
	margin-top: 0px;
	color: white;

}
#Started{
	padding-left: 35px;
	font-family: sans-serif;
	font-size: 20px;

}
#send{
	padding-left: 35px;
	font-family: sans-serif;
	font: 16px;

}
button{
	margin-top: 20px;
	margin-left: 35px;
	padding: 10px;
	font-family: sans-serif;
	font-size: 22px;
	background-color: mediumblue;
	border: none;
	border-radius: 5px;
	color: white;
}
.Socialmedia{
	padding: 5px;
	display: inline;
	float: right;
	right: 3%;
	position: absolute;

}

@media  (min-width: 768px) and (max-width: 992px){
	body{
		background-color: none;

}
.Nav{
	width: 100%;

}
.Nav ul{
	
	float: right;
	position: absolute;
	right: 3%;
	font-size: 100%;
	font-family: sans-serif;

}



#heading{
	padding-left: 35px;
	font-family: sans-serif;
	font-size: 120%;
	
}
#facebook{
	height: 140px;
	width: 120px;
	float: right;
	right: 60%;
	position: absolute;
	margin-top: 45px;
	

}
#instagram{
	height: 150px;
	width: 120px;
	float: right;
	right: 20%;
	margin-top: 45px;
	position: absolute;

}
.client{
	border: none;
	background-color: whitesmoke;
	height: 350px;
	width: 100%; 
	margin-top: 200px;

}
h2{
	padding-left: 35px;
	margin-top: 30px;
	font-size: 120%;


}
#line{

	width: 25px;
	
}
#Aboutcolony{
	margin-top: 20px;
	padding-left: 35px;
	font-family: sans-serif;
	font-size: 95%;
	color: grey;
}


#sec-heading{
	padding-left: 35px;
	font-family: sans-serif;
	font-size: 140%;

	
}
#sec-line{

	width: 25px;
	
}

#Started{
	font-size: 110%;

}
#send{
	
	font-size: 95%;

}
button{
	
	font-size: 115%;
	
}
.Socialmedia{
	padding: 5px;
	display: inline;
	right: 3%;
	position: absolute;



}

}

@media (min-width: 651px) and (max-width: 767px){
	body{
		background-color: none;

}
.Nav{
	width: 100%;

}
.Nav ul{
	
	float: right;
	position: absolute;
	right: 3%;
	font-size: 95%;
	font-family: sans-serif;
	display: none;

}
.navspan {
  cursor: pointer;
  float: right;
  right: 3%;
  margin-top: -72px;
  position: sticky;
  position: fixed;
  z-index: 2;
 
}
.navspan span{
  border: 1px solid black;
  height: 5px;
  width: 35px;
  background: white;
  position: relative;
  margin-top: 4px;
  display: block;
  border: none;
  margin-left: 0px;
}
.lists{
  background-color: gray;
  height: 200px;
  width: 50%;
  margin-left: 5px;
  visibility: visible;
  z-index: 1;
  position: absolute;
  overflow-y: hidden;
  text-decoration: none;
  position: sticky;
  border-radius: 10px;
  position: fixed;
  margin-top: 85px;
  top: 0;



}
.lists li:hover{

 background-color: dodgerblue;
 transition: 1s;
 color: white;
 border-radius: 10px;

        
        

}
#times{
  color: red;
  position: absolute;
  font-size: 30px;
  margin-left: -30px;
  margin-top: -2px;
  cursor: pointer;


}


.lists li{
  display: block;
  list-style-type: none;
  padding: 20px;
  cursor: pointer;
  padding: 10px;

      
}



#heading{
	padding-left: 35px;
	font-family: sans-serif;
	font-size: 120%;
	
}
#facebook{
	height: 150px;
	width: 120px;
	margin-left: 200px;
	margin-top: 60px;


}
#instagram{
	height: 150px;
	width: 120px;
	margin-left: 100px;
	margin-top: 60px;
	position: absolute;

}
.client{
	border: none;
	background-color: whitesmoke;
	height: 350px;
	width: 100%; 
	margin-top: 50px;

}
h2{
	padding-left: 35px;
	margin-top: 30px;
	font-size: 120%;


}
#line{

	width: 25px;
	
}
#Aboutcolony{
	margin-top: 20px;
	padding-left: 35px;
	font-family: sans-serif;
	font-size: 95%;
	color: grey;
}


#sec-heading{
	padding-left: 35px;
	font-family: sans-serif;
	font-size: 140%;

	
}
#sec-line{

	width: 25px;
	
}

#Started{
	font-size: 110%;

}
#send{
	
	font-size: 95%;

}
button{
	
	font-size: 115%;
	
}
.Socialmedia{
	padding: 5px;
	display: inline;
	position: absolute;
	right: 3%;


}

}

@media (min-width: 551px) and (max-width: 650px){
	body{
		background-color: none;

}
.Nav{
	width: 100%;

}
.Nav ul{
	
	float: right;
	position: absolute;
	right: 3%;
	font-size: 95%;
	font-family: sans-serif;
	display: none;

}
.Heading{
	border: none;
	width: 100%;
	background-image: linear-gradient(to right, mediumblue, dodgerblue);
	margin-left: 0px;
	position: sticky;
	top: 0;
	position: fixed;
	z-index: 1;
	height: 68px;


}
#logo{
	height: 40px;
	width: 215px;

}
.navspan {
  cursor: pointer;
  float: right;
  right: 3%;
  margin-top: -68px;
  position: sticky;
  position: fixed;
  z-index: 2;
 
}
.navspan span{
  border: 1px solid black;
  height: 5px;
  width: 35px;
  background: white;
  position: relative;
  margin-top: 4px;
  display: block;
  border: none;
  margin-left: 0px;
}

.lists{
 background-color: gray;
  height: 200px;
  width: 50%;
  margin-left: 5px;
  visibility: visible;
  z-index: 1;
  position: absolute;
  overflow-y: hidden;
  text-decoration: none;
  position: sticky;
  top: 0;
  border-radius: 10px;
  position: fixed;
  margin-top: 85px;





}
.lists li:hover{

 background-color: dodgerblue;
 transition: 1s;
 color: white;
 border-radius: 10px;

        
        

}
#times{
  color: red;
  position: absolute;
  font-size: 30px;
  margin-left: -30px;
  margin-top: -2px;
  cursor: pointer;


}


.lists li{
  display: block;
  list-style-type: none;
  padding: 20px;
  cursor: pointer;
  padding: 10px;

      
}
.About{
	margin-top: -35px;
	height: 300px;

}
#heading{
	font-size: 125%; 

}
#Aboutcolony{
	margin-top: 20px;
	font-size: 95%;
	
}
#facebook{
	height: 100px;
	width: 100px;
	float: right;
	right: 55%;
	margin-top: 60px;
	position: absolute;


}
#instagram{
	height: 100px;
	width: 100px;
	float: right;
	right: 15%;
	margin-top: 60px;
	position: absolute;

}
.client{
	
	background-color: whitesmoke;
	margin-top: 180px;

}
h2{
	
	font-size: 125%;


}
#sec-line{

	width: 30px;
	margin-left: 35px;
	height: 2px;
	background-color: gray;
	margin-top: 16px;
}
#pic1{
	
	margin-left: 40px;

}
#pic2{
	margin-left: 40px;
	

}
#pic3{
	margin-left: 40px;
	
}

#pic4{
	margin-left: 120px;
	
}
#pic5{

	margin-left: 120px;

}
#pic6{
	margin-left: 120px;
	

}
#pic7{
	
	margin-left: 205px;
	
}
#pic8{
	margin-left: 205px;
	


}
#pic9{
	margin-left: 205px;

}
#pic10{
	
	margin-left: 285px;

}
#pic11{
	
	margin-left: 285px;
	
}


#pic12{
	margin-left: 285px;
	

}
#Started{
	
	font-size: 100%;

}
#send{

	font: 95%;

}
button{
	
	font-size: 100%;
	
}
.Socialmedia{
	padding: 5px;
	display: inline;
	margin-left: 150px;


}


}

@media (min-width: 421px) and (max-width: 550px){
	body{
		background-color: none;

}
.Nav{
	width: 100%;

}
.Nav ul{
	
	float: right;
	position: absolute;
	right: 3%;
	font-size: 95%;
	font-family: sans-serif;
	display: none;

}
.Heading{
	border: none;
	width: 100%;
	background-image: linear-gradient(to right, mediumblue, dodgerblue);
	margin-left: 0px;
	position: sticky;
	top: 0;
	position: fixed;
	z-index: 1;
	height: 68px;


}
#logo{
	height: 40px;
	width: 215px;

}
.navspan {
  cursor: pointer;
  float: right;
  right: 2%;
  margin-top: -73px;  
  overflow-y: hidden;
  position: sticky;
  z-index:2;
  position: fixed;
  

  



}
.navspan span{
  border: 1px solid black;
  height: 5px;
  width: 35px;
  background-color: white;
  position: relative;
  margin-top: 5px;
  display: block;
  border: none;
 
 
}
.lists{
  background-color: gray;
  height: 200px;
  width: 50%;
  margin-left: 5px;
  visibility: visible;
  z-index: 1;
  position: absolute;
  overflow-y: hidden;
  text-decoration: none;
  position: sticky;
  top: 0;
  border-radius: 10px;
  position: fixed;
  margin-top: 80px;

}
.lists li:hover{
 background-color: dodgerblue;
 transition: 1s;
 

        
        

}
#times{
  color: red;
  position: absolute;
  font-size: 30px;
  margin-left: -30px;
  margin-top: -2px;
  cursor: pointer;


}


.lists li{
  display: block;
  list-style-type: none;
  padding: 20px;
  cursor: pointer;
  padding: 10px;



      
}
.About{
	margin-top: -35px;
	height: 300px;

}
#heading{
	font-size: 125%; 

}
#Aboutcolony{
	margin-top: 20px;
	font-size: 95%;
	
}
#facebook{
	height: 100px;
	width: 100px;
	float: right;
	right: 55%;
	margin-top: 60px;
	position: absolute;


}
#instagram{
	height: 100px;
	width: 100px;
	float: right;
	right: 20%;
	margin-top: 60px;
	position: absolute;

}
.client{
	
	background-color: whitesmoke;
	margin-top: 180px;

}
h2{
	
	font-size: 125%;


}
#sec-line{

	width: 30px;
	margin-left: 35px;
	height: 2px;
	background-color: gray;
	margin-top: 16px;
}
#pic1{
	
	margin-left: 40px;

}
#pic2{
	margin-left: 40px;
	

}
#pic3{
	margin-left: 40px;
	
}

#pic4{
	margin-left: 120px;
	
}
#pic5{

	margin-left: 120px;

}
#pic6{
	margin-left: 120px;
	

}
#pic7{
	
	margin-left: 205px;
	
}
#pic8{
	margin-left: 205px;
	


}
#pic9{
	margin-left: 205px;

}
#pic10{
	
	margin-left: 285px;

}
#pic11{
	
	margin-left: 285px;
	
}


#pic12{
	margin-left: 285px;
	

}
#Started{
	
	font-size: 100%;

}
#send{

	font: 95%;

}
button{
	
	font-size: 100%;
	
}
.Socialmedia{
	padding: 5px;
	display: inline;
	margin-left: 150px;


}

}


@media (min-width: 320px) and (max-width: 420px){
	body{
		background-color: none;

}
.Nav{
	width: 100%;
    height: 75px;
}
.Nav ul{
	
	float: right;
	position: absolute;
	right: 3%;
	font-size: 95%;
	font-family: sans-serif;
	display: none;

}
.Heading{
	border: none;
	width: 100%;
	background-image: linear-gradient(to right, mediumblue, dodgerblue);
	margin-left: 0px;
	position: sticky;
	top: 0;
	position: fixed;
	z-index: 1; 
	height: 70px;
}
#logo{
	height: 35px;
	width: 50%;
	margin-top: 20px;

}
#icon{
	display: none;

}
.navspan {
  cursor: pointer;
  float: right;
  right: 2%;
  margin-top: -65px;  
  overflow-y: hidden;
  position: sticky;
  z-index:2;
  position: fixed;
  

  



}
.navspan span{
  border: 1px solid black;
  height: 4px;
  width: 30px;
  background-color: white;
  position: relative;
  margin-top: 4px;
  display: block;
  border: none;
 
 
}
.lists{
  background-color: gray;
  height: 200px;
  width: 50%;
  margin-left: 5px;
  visibility: visible;
  z-index: 1;
  position: absolute;
  overflow-y: hidden;
  text-decoration: none;
  position: sticky;
  top: 0;
  border-radius: 10px;
  position: fixed;
  margin-top: 80px;

}
.lists li:hover{
 background-color: dodgerblue;
 transition: 1s;
 

        
        

}
#times{
  color: red;
  position: absolute;
  font-size: 30px;
  margin-left: -30px;
  margin-top: -2px;
  cursor: pointer;


}


.lists li{
  display: block;
  list-style-type: none;
  padding: 20px;
  cursor: pointer;
  padding: 10px;



      
}
#heading{
	font-size: 125%; 

}
#Aboutcolony{
	margin-top: 20px;
	font-size: 80%;
	
}
#facebook{
	height: 80px;
	width: 90px;
	float: right;
	right: 55%;
	margin-top: 20px;
	position: absolute;


}
#instagram{
	height: 80px;
	width: 90px;
	float: right;
	right: 10%;
	margin-top: 20px;
	position: absolute;

}
.client{
	
	
	margin-top: 120px;

}
h2{
	
	font-size: 120%;


}
#sec-line{

	width: 30px;
	margin-left: 35px;
	height: 2px;
	background-color: gray;
	margin-top: 16px;
}
#pic1{

	width: 35px;
	height: 35px;
	margin-left: 35px;

}
#pic2{
	margin-left: 35px;
	width: 35px;
	height: 35px;
	

}
#pic3{
	margin-left: 35px;
	width: 35px;
	height: 35px;
	
}

#pic4{
	margin-left: 85px;
	margin-top: -149px;
	width: 35px;
	height: 35px;
	
}
#pic5{

	margin-left: 85px;
	margin-top: 19px;
	width: 35px;
	height: 35px;

}
#pic6{
	margin-left: 85px;
	margin-top: 20px;
	width: 35px;
	height: 35px;
	

}
#pic7{
	margin-left: 140px;
	margin-top: -150px;
	width: 35px;
	height: 35px;

}
#pic8{
	margin-left: 140px;
	margin-top: 19px;
	width: 35px;
	height: 35px;

}
#pic9{
	margin-left: 140px;
	margin-top: 20px;
	width: 35px;
	height: 35px;

}
#pic10{
	margin-left: 195px;
	margin-top: -150px;
	width: 35px;
	height: 35px;

}
#pic11{
	margin-left: 195px;
	margin-top: 18px;
	width: 35px;
	height: 35px;


}
#pic12{
	margin-left: 195px;
	margin-top: 19px;
	width: 35px;
	height: 35px;


}
#Started{
	
	font-size: 95%;

}
#send{

	font: 85%;

}
button{
	
	font-size: 95%;
	
}
.Socialmedia{
	padding: 5px;
	display: inline;
	margin-left: 60px;


}

}