*{
    box-sizing: 1px;
    margin: 0px auto;
    padding: 0px auto;

}
.Nav{
	height: 80px;
	width: 100%;
	background-image: linear-gradient(to right, mediumblue, dodgerblue);

}
.Heading{
	border: none;
	width: 100%;
	background-image: linear-gradient(to right, mediumblue, dodgerblue);
	margin-left: 0px;
	position: sticky;
	top: 0;
	position: fixed;
	z-index: 1;
	height: 68px;


}
#logo{
	height: 40px;
	width: 240px;
	margin-top: 19px;
	margin-left: 30px;

}
.Nav ul{
	list-style-type: none;
	float: right;
	position: absolute;
	right: 5%;
	top: 28px;
	font-size: 120%;
	font-family: sans-serif;
	


}
ul li{
	display: inline;
	padding-left: 15px;
	padding: 10px;
	cursor: pointer;
	color: white;
	
}
ul li a{
	text-decoration: none;
	color: white;

}

ul li:hover{
	background-color: darkblue;
	padding: 10px;
	border-radius: 10px;


}
.stay{
	border: none;
	background-color: darkblue;
	border-radius: 10px;
	padding: 10px;

}
.lists{
	border: 1px solid white;
	height: 340px;
	width: 300px;
	margin-left: 600px;
   display: none;
   visibility: hidden;
 

}
h1{
	padding-left: 35px;
	font-family: sans-serif;
	font: 20px;

}
#line{

	width: 30px;
	margin-left: 35px;
	height: 2px;
	background-color: gray;
	margin-top: 16px;
}
#professionals{
	font-family: sans-serif;
	font-size: 16px;
	padding-left: 35px;
	margin-top: 20px;

}
#pictures{
	margin-left: 250px;
	padding: 70px;
	height: 70px;
	width: 90px;
	margin-top: 80px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 1px;
	border: 1px solid whitesmoke;

}
#pictures2{
	margin-left: 20px;
	padding: 70px;
	height: 70px;
	width: 90px;
	margin-top: 80px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 1px;
	border: 1px solid whitesmoke;

}
#pictures3{
	margin-top: 30px;
	margin-left: 250px;
	padding: 70px;
	height: 70px;
	width: 90px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 1px;
	border: 1px solid whitesmoke;

}
#pictures4{
	margin-top: 30px;
	margin-left: 30px;
	padding: 70px;
	height: 70px;
	width: 90px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 1px;
	border: 1px solid whitesmoke;

}
.footer{
	height: 220px;
	width: 100%;
	background-image: linear-gradient(to right, dodgerblue, mediumblue);
	margin-top: 0px;
	color: white;

}
#Started{
	padding-left: 35px;
	font-family: sans-serif;
	font-size: 20px;

}
#send{
	padding-left: 35px;
	font-family: sans-serif;
	font: 16px;

}
button{
	margin-top: 20px;
	margin-left: 35px;
	padding: 10px;
	font-family: sans-serif;
	font-size: 22px;
	background-color: mediumblue;
	border: none;
	border-radius: 5px;
	color: white;
}
.Socialmedia{
	padding: 5px;
	display: inline;
	float: right;
	right: 3%;
	position: absolute;


}
@media (min-width: 768px) and (max-width: 992px){
	body{
		background-color: none;

}
.Nav{
	width: 100%;

}
.Nav ul{
	
	float: right;
	position: absolute;
	right: 3%;
	font-size: 110%;
	font-family: sans-serif;

}
h1{
	padding-left: 35px;
	font-family: sans-serif;
	font-size: 135%;

}

#pictures{
	float: right;
	right: 50%;
	position: absolute;
	

}
#pictures2{
	float: right;
	right: 20%;
	position: absolute;
	
	
}
#pictures3{
	margin-top: 300px;
	float: right;
	right: 50%;
	position: absolute;
	
}
#pictures4{
	margin-top: 300px;
	float: right;
	right: 20%;
	position: absolute;
	
}
.footer{
	margin-top: 500px;

}

#Started{
	font-size: 110%;

}
#send{
	
	font-size: 95%;

}
button{
	
	font-size: 115%;
	
}
.Socialmedia{
	padding: 5px;
	display: inline;
	margin-left: 450px;

}

}

@media (min-width: 651px) and (max-width: 767px){
	body{
		background-color: none;

}
.Nav ul{
	display: none;

}
.Heading{
	border: none;
	width: 100%;
	background-image: linear-gradient(to right, mediumblue, dodgerblue);
	margin-left: 0px;
	position: sticky;
	top: 0;
	position: fixed;
	z-index: 1;
	height: 68px;


}
#logo{
	height: 40px;
	width: 215px;
	margin-top: 25px;

}
.navspan{
	float: right;
	right: 2%;
	margin-top: -48px;
	cursor: pointer;
	position: sticky;
	position: fixed;
	z-index: 2;

}
.navspan span{
  border: 1px solid black;
  height: 5px;
  width: 35px;
  background: white;
  position: relative;
  margin-top: 4px;
  display: block;
  border: none;
  margin-left: 360px;
}
.lists{
  background-color: gray;
  height: 200px;
  width: 50%;
  margin-left: 0px;
  margin-top: 100px;
  visibility: visible;
  z-index: 2;
  position: absolute;
  overflow-y: hidden;
  text-decoration: none;
  position: sticky;
  top: 0;
  position: fixed;
  margin-top: 90px;
  border-radius: 10px;


}
.lists li:hover{

 background-color: dodgerblue;
 transition: 1s;
 color: white;
 border-radius: 10px;

        
        

}
#times{
  color: red;
  position: absolute;
  font-size: 30px;
  margin-left: -30px;
  margin-top: -2px;
  cursor: pointer;


}


.lists li{
  display: block;
  list-style-type: none;
  padding: 20px;
  cursor: pointer;
  padding: 10px;

      
}
#pictures{
	float: right;
	right: 52%;
	margin-top: 85px;
	position: absolute;
	padding: 60px;
	

}
#pictures2{
	float: right;
	right: 15%;
	margin-top: 85px;
	padding: 60px;
	position: absolute;
	
	
}
#pictures3{
	float: right;
	right: 52%;
	padding: 60px;
	position: absolute;
	margin-top: 280px;
	
}
#pictures4{
	float: right;
	right: 15%;
	padding: 60px;
	margin-top: 280px;
	position: absolute;
}
.footer{
	margin-top: 450px;
}
.Socialmedia{
	padding: 5px;
	display: inline;
	margin-left: 50px;


}

}
@media (min-width: 551px) and (max-width: 650px){
	body{
		background-color: none;


}
.Nav{
	height: 90px;

}
.Nav ul{
	display: none;

}
h1{
	padding-left: 35px;
	font-family: sans-serif;
	font-size: 120%;

}
.Heading{
	border: none;
	width: 100%;
	background-image: linear-gradient(to right, mediumblue, dodgerblue);
	margin-left: 0px;
	position: sticky;
	top: 0;
	position: fixed;
	z-index: 1;
	height: 68px;


}
#logo{
	height: 40px;
	width: 215px;
	margin-top: 25px;

}
.navspan{
	float: right;
	right: 2%;
	margin-top: -58px;
	cursor: pointer;
	position: sticky;
	position: fixed;
	z-index: 2;

}
.navspan span{
  border: 1px solid black;
  height: 5px;
  width: 35px;
  background: white;
  position: relative;
  margin-top: 4px;
  display: block;
  border: none;
  margin-left: 360px;
}
.lists{
  background-color: gray;
  height: 200px;
  width: 48%;
  margin-left: 0px;
  margin-top: 100px;
  visibility: visible;
  z-index: 2;
  position: absolute;
  overflow-y: hidden;
  text-decoration: none;
  position: sticky;
  top: 0;
  position: fixed;
  margin-top: 90px;
  border-radius: 10px;


}
.lists li:hover{

 background-color: dodgerblue;
 transition: 1s;
 color: white;
 border-radius: 10px;

        
        

}
#times{
  color: red;
  position: absolute;
  font-size: 30px;
  margin-left: -30px;
  margin-top: -2px;
  cursor: pointer;


}


.lists li{
  display: block;
  list-style-type: none;
  padding: 20px;
  cursor: pointer;
  padding: 10px;

      
}
h1{
	margin-top: 50px;

}
#pictures{
	float: right;
	right: 52%;
	margin-top: 85px;
	position: absolute;
	padding: 35px;
	

}
#pictures2{
	float: right;
	right: 10%;
	margin-top: 85px;
	padding: 35px;
	position: absolute;
	
	
}
#pictures3{
	float: right;
	right: 52%;
	padding: 35px;
	position: absolute;
	margin-top: 230px;
	
}
#pictures4{
	float: right;
	right: 10%;
	padding: 35px;
	margin-top: 230px;
	position: absolute;
}

.footer{
	margin-top: 350px;

}
#Started{
	
	font-size: 100%;

}
#send{

	font: 95%;

}
button{
	
	font-size: 100%;
	
}
.Socialmedia{
	padding: 5px;
	display: inline;
	margin-left: 150px;


}

}
@media (min-width: 421px) and (max-width: 550px){
	body{
		background-color: white;

}
.Nav{
	height: 90px;

}
.Nav ul{
	display: none;

}
h1{
	padding-left: 35px;
	font-family: sans-serif;
	font-size: 120%;

}
.Heading{
	border: none;
	width: 100%;
	background-image: linear-gradient(to right, mediumblue, dodgerblue);
	margin-left: 0px;
	position: sticky;
	top: 0;
	position: fixed;
	z-index: 1;
	height: 68px;


}
#logo{
	height: 40px;
	width: 215px;
	margin-top: 25px;

}
.navspan{
	float: right;
	right: 2%;
	margin-top: -58px;
	cursor: pointer;
	position: sticky;
	position: fixed;
	z-index: 2;

}
.navspan span{
  border: 1px solid black;
  height: 5px;
  width: 35px;
  background: white;
  position: relative;
  margin-top: 4px;
  display: block;
  border: none;
  margin-left: 360px;
}
.lists{
  background-color: gray;
  height: 200px;
  width: 45%;
  margin-left: 0px;
  margin-top: 100px;
  visibility: visible;
  z-index: 2;
  position: absolute;
  overflow-y: hidden;
  text-decoration: none;
  position: sticky;
  top: 0;
  position: fixed;
  margin-top: 90px;
  border-radius: 10px;


}
.lists li:hover{

 background-color: dodgerblue;
 transition: 1s;
 color: white;
 border-radius: 10px;

        
        

}
#times{
  color: red;
  position: absolute;
  font-size: 30px;
  margin-left: -30px;
  margin-top: -2px;
  cursor: pointer;


}


.lists li{
  display: block;
  list-style-type: none;
  padding: 20px;
  cursor: pointer;
  padding: 10px;

      
}
h1{
	margin-top: 50px;

}
#pictures{
	float: right;
	right: 52%;
	margin-top: 85px;
	position: absolute;
	padding: 35px;
	

}
#pictures2{
	float: right;
	right: 10%;
	margin-top: 85px;
	padding: 35px;
	position: absolute;
	
	
}
#pictures3{
	float: right;
	right: 52%;
	padding: 35px;
	position: absolute;
	margin-top: 230px;
	
}
#pictures4{
	float: right;
	right: 10%;
	padding: 35px;
	margin-top: 230px;
	position: absolute;
}

.footer{
	margin-top: 350px;

}
#Started{
	
	font-size: 100%;

}
#send{

	font: 95%;

}
button{
	
	font-size: 100%;
	
}
.Socialmedia{
	padding: 5px;
	display: inline;
	margin-left: 150px;


}

}

@media (min-width: 320px) and (max-width: 420px){
	body{
		background-color: none;

}
.Nav{
	height: 90px;

}
.Nav ul{
	display: none;

}
h1{
	padding-left: 35px;
	font-family: sans-serif;
	font-size: 120%;

}
.Heading{
	border: none;
	width: 100%;
	background-image: linear-gradient(to right, mediumblue, dodgerblue);
	margin-left: 0px;
	position: sticky;
	top: 0;
	position: fixed;
	z-index: 1;
	height: 65px;


}
#logo{
	height: 40px;
	width: 160px;
	margin-top: 20px;

}
.navspan{
	margin-top: -60px;
	float: right;
	right: 3%;
	cursor: pointer;
	position: sticky;
	position: fixed;
	z-index: 2;

}
.navspan span{
  border: 1px solid black;
  height: 4px;
  width: 30px;
  background: white;
  position: relative;
  margin-top: 4px;
  display: block;
  border: none;
  margin-left: 360px;
}
.lists{
  background-color: gray;
  height: 200px;
  width: 45%;
  margin-left: 0px;
  margin-top: 100px;
  visibility: visible;
  z-index: 2;
  position: absolute;
  overflow-y: hidden;
  text-decoration: none;
  position: sticky;
  top: 0;
  position: fixed;
  margin-top: 90px;
  border-radius: 10px;


}
.lists li:hover{

 background-color: dodgerblue;
 transition: 1s;
 color: white;
 border-radius: 10px;

        
        

}
#times{
  color: red;
  position: absolute;
  font-size: 30px;
  margin-left: -30px;
  margin-top: -2px;
  cursor: pointer;


}


.lists li{
  display: block;
  list-style-type: none;
  padding: 20px;
  cursor: pointer;
  padding: 10px;

      
}
h1{
	margin-top: 50px;
	font-size: 100%;

}
#professionals{
	font-size: 93%;

}
#pictures{
	float: right;
	right: 55%;
	padding: 10px;
	margin-top: 60px;
	position: absolute;
	

}
#pictures2{
	float: right;
	right: 10%;
	padding: 10px;
	margin-top: 60px;
	position: absolute;
	
	
	
}
#pictures3{
	float: right;
	right: 55%;
	padding: 10px;
	margin-top: 150px;
	position: absolute;
	
	
	
}
#pictures4{
	float: right;
	right: 10%;
	padding: 10px;
	margin-top: 150px;
	position: absolute;
	
}
.footer{
	margin-top: 200px;

}
#Started{
	
	font-size: 105%;

}
#send{

	font-size: 90%;

}
button{
	
	font-size: 100%;
	
}
.Socialmedia{
	padding: 5px;
	display: inline;
	float: right;
	right: 3%;
	position: absolute;


}

}







